body {
    margin: 0;
    padding: 0;
    background-image: url('clock-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 100%, 97%, 0.082);
    width: 100%;
}